---
layout: default
title: Four steps to adopt open-source software as part of the DevOps toolchain
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Four steps to adopt open-source software as part of the DevOps toolchain
        %h2.page-subtitle A Report from Gartner, Inc.

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p According to Gartner, "Open-source tools are critical to building the DevOps toolchain. I&O leaders responsible for DevOps must build technical and people skills, implement governance policies, determine the need for commercial support, and integrate open-source tools with the rest of the toolchain."
            
            %p In this report, Gartner outlines best practices for I&O leaders to enable and expedite container deployment in production environments.

            %h3 What you’ll learn in this Gartner report:
            %ul
              %li How to create an open-source software strategy to reduce technical complexity and streamline the DevOps toolchain
              %li Tips for creating an open-source talent pool
              %li The process for selecting the right open-source software for your business objectives

            %p Download this Gartner report to learn the four steps to adopting open-source software as part of the DevOps toolchain in your organization.

          .font-small
            %p Gartner, Four Steps to Adopt Open-Source Software as Part of the DevOps Toolchain, Manjunath Bhat, Daniel Betts, Christopher Little, 6 February 2019

        .col-md-4.col-md-offset-1
          %h2.margin-top0 Download the report
          %p If you don't see the form, try temporarily disabling ad blockers or use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1002
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1002, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  dataLayer.push({event: 'resources', mktoFormId: form.getId()});
                  return false;
                });
              });
        .confirmform{ style: "visibility:hidden;" }
          .col-md-4.col-md-4.col-md-offset-1
            %h3 <a href="https://www.gartner.com/doc/reprints?id=1-10JDD46M&ct=190701&st=sb">Click here to download the report.</a>
            %p You will also receive an copy of the report sent to your inbox shortly.
